@model IEnumerable<MiHotel.Common.Entities.Estancia>

@{
    ViewData["Title"] = "Index";
}

<h1>Estancias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huesped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baja)
            </th>
            <th>
                Accesos
            </th>
            <th>
                Llave QR
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.NumeroStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huesped.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja)
            </td>
            <td>
                <a asp-controller="Accesos" asp-action="Index" asp-route-estanciaId="@item.Id">Listado</a>
            </td>
            <td>
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Data))" height="200" width="200" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
