@model MiHotel.Common.Entities.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
