@model MiHotel.Common.Entities.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Habitaciones</h1>

<div>
    <h4>Del Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="CreateHabitacion" asp-route-HotelId="@Model?.Id">Nueva</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if(Model.Habitaciones.Count == 0){
    <h5>Puede agregar habitaciones!</h5>
}else{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Habitaciones.FirstOrDefault().NumeroStr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitaciones.FirstOrDefault().Ocupada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitaciones.FirstOrDefault().EspMacAdd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitaciones.FirstOrDefault().Hotel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Habitaciones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroStr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocupada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspMacAdd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Id)
                    </td>
                    <td>
                        <a asp-controller="Habitaciones" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Habitaciones" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Habitaciones" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}