@model IEnumerable<MiHotel.Common.Entities.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hoteles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Alta hotel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                Habitaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @item.Habitaciones.Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Habitaciones</a> |
                <a asp-controller="Estancias" asp-action="Create" asp-route-HotelId="@item.Id">Reservar</a> |
                <a asp-controller="Estancias" asp-action="Index" asp-route-HotelId="@item.Id">Estancias</a>
            </td>
        </tr>
}
    </tbody>
</table>
